language: r
sudo: false
cache:
  - packages
  - ccache
warnings_are_errors: true
bioc_required: false
cran: http://cran.rstudio.com
allow_failures:
  - os: osx

latex: false
compiler: clang
osx_image: xcode9

before_install:
  - wget -O travis_helpers.sh http://bit.ly/travis_helpers
  - source travis_helpers.sh
  - rm travis_helpers.sh
  - Rscript -e 'install.packages("h2o")'
  - Rscript -e 'install.packages("rsvd")'
  - Rscript -e 'install.packages("magic")'
  - Rscript -e 'install.packages("psych")'
  - Rscript -e 'install.packages("RcppEigen")'
  - gh_binary_install stnava/ITKR stnava/ANTsRCore stnava/ANTsR
  - travis_run_cache

script:
  - echo ASS
  - echo $PROJ_DIR
  - travis_wait 100 R CMD build ${PROJ_DIR} ${R_BUILD_ARGS}
  - PKG_FILE_NAME=$(ls -1t *.tar.gz | head -n 1)
  - if [ "$TRAVIS_OS_NAME" == "osx" ];
      then
      PKG_FILE_NAME=$(ls -1t *.tgz | head -n  1);
    fi
  - ls
  - if [[ ${#TRAVIS_TAG} -eq 0 ]];
    then
      travis_wait 100 R CMD check ${R_CHECK_ARGS} "${PKG_FILE_NAME}" --no-manual --install-args=--build;
    fi # --as-cran

jobs:
  include:
    - name: "linux"
      os: linux
    - name: "OSX"
      os: osx



after_failure:
  - cat ${PACKAGE_NAME}.Rcheck/00install.out
  - cat ${PACKAGE_NAME}.Rcheck/00check.log

after_success:
  - cat ${PACKAGE_NAME}.Rcheck/00install.out
  - cat ${PACKAGE_NAME}.Rcheck/00check.log

notifications:
  email:
    recipients:
    - stnava@gmail.com
    on_success: change
    on_failure: always
